.a {
    height: 200px;
    width: 200px;
    background: linear-gradient(45deg, red, green, blue);
}

.b {
    height: 200px;
    width: 200px;
    background: linear-gradient(to top, red, green, blue);
}

.c {
    height: 200px;
    width: 200px;
    background: linear-gradient( red, green 20%, blue);
}

.d {
    height: 200px;
    width: 200px;
    background: linear-gradient(red, green, 20%, blue);
}